/model/__pycache__
/model/pnemonia_models
/model/pneomia
/model/venv
/model/UltrasoundFetusDataset

# datasets + large folders
data/
datasets/
dataset/
model/

# model weights
*.pth
*.pt
*.h5
*.keras

# cache
__pycache__/
.ipynb_checkpoints/
.venv/
