/backend/model/__pycache__
/backend/model/pnemonia_models
/backend/model/pneomia
/venv
/backend/model/UltrasoundFetusDataset

# datasets + large folders
data/
datasets/
dataset/

# model weights
*.pth
*.pt
*.h5
*.keras

# cache
__pycache__/
.ipynb_checkpoints/
.venv/

# testing